@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.header {
  width: 100%;
  background-image: url("../bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.nav {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: none;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 100;
}

.logo {
  width: 10%;
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 850px) {
  .logo {
    width: 40%;
  }
}

.fa-th-large, .fa-th {
  font-size: 90px;
  color: #0f9d58;
  margin-left: 10px;
  text-shadow: 0px 0px 3px black;
  -webkit-transition: font-size 200ms ease-in-out;
  transition: font-size 200ms ease-in-out;
}

@media only screen and (max-width: 850px) {
  .fa-th-large, .fa-th {
    font-size: 67px;
  }
}

@media only screen and (max-width: 768px) {
  .fa-th-large, .fa-th {
    font-size: 60px;
  }
}

@media only screen and (max-width: 620px) {
  .fa-th-large, .fa-th {
    font-size: 53px;
  }
}

.logo-small {
  font-size: 50px;
}

@media only screen and (max-width: 1200px) {
  .logo-small {
    font-size: 40px;
  }
}

@media only screen and (max-width: 850px) {
  .logo-small {
    font-size: 34px;
  }
}

@media only screen and (max-width: 768px) {
  .logo-small {
    font-size: 32px;
  }
}

@media only screen and (max-width: 620px) {
  .logo-small {
    font-size: 30px;
  }
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media only screen and (max-width: 850px) {
  .nav-links {
    background-color: rgba(15, 157, 88, 0.9);
    top: 15%;
    display: none;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    height: 150px;
    z-index: 5;
    -webkit-transition: top 300ms linear;
    transition: top 300ms linear;
  }
}

@media only screen and (max-width: 850px) {
  .nav-links-scroll {
    top: 7.5%;
  }
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
}

@media only screen and (max-width: 850px) {
  .nav-link {
    width: 100%;
    height: 37.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav-link a {
  text-decoration: none;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  -webkit-transition: font-size 50ms ease-in-out;
  transition: font-size 50ms ease-in-out;
}

@media only screen and (max-width: 850px) {
  .nav-link a {
    color: white;
    font-size: 18px;
  }
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 850px) {
  .mobile-menu {
    width: 60%;
    height: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 10px;
  }
}

.fa-bars {
  font-size: 40px;
  color: #0f9d58;
}

.aboutme-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.aboutme-start-container {
  width: 70%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media only screen and (max-width: 850px) {
  .aboutme-start-container {
    width: 100%;
    height: 100%;
  }
}

.aboutme-place {
  width: 100%;
  font-size: 60px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 1px 1px 5px black;
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1200px) {
  .aboutme-place {
    font-size: 32px;
  }
}

@media only screen and (max-width: 850px) {
  .aboutme-place {
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .aboutme-place {
    font-size: 26px;
  }
}

@media only screen and (max-width: 620px) {
  .aboutme-place {
    font-size: 21px;
  }
}

.aboutme-name {
  width: 100%;
  font-size: 50px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 1px 1px 5px black;
  text-align: center;
}

@media only screen and (max-width: 1200px) {
  .aboutme-name {
    font-size: 32px;
  }
}

@media only screen and (max-width: 850px) {
  .aboutme-name {
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .aboutme-name {
    font-size: 26px;
  }
}

@media only screen and (max-width: 620px) {
  .aboutme-name {
    font-size: 21px;
  }
}

.aboutme-arrow {
  margin-top: 50px;
}

.fa-angle-down {
  font-size: 70px;
  color: white;
  text-shadow: 1px 1px 3px black;
  -webkit-transition: .5s;
  transition: .5s;
}

.fa-angle-down:hover {
  cursor: pointer;
  color: #0f9d58;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
}

.aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.aboutme::before {
  content: '';
  width: 30px;
  height: 35px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: white;
  position: relative;
  bottom: 15px;
  z-index: 1;
}

.aboutme-title {
  width: 100%;
  height: 80px;
  font-size: 60px;
  color: #0f9d58;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  .aboutme-title {
    font-size: 45px;
  }
}

@media only screen and (max-width: 768px) {
  .aboutme-title {
    font-size: 42px;
  }
}

@media only screen and (max-width: 620px) {
  .aboutme-title {
    font-size: 30px;
    height: 40px;
  }
}

.aboutme-container {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 850px) {
  .aboutme-container {
    width: 100%;
    height: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.aboutme-photo, .aboutme-text {
  width: 50%;
  height: 90%;
}

@media only screen and (max-width: 850px) {
  .aboutme-photo {
    width: 100%;
    height: 35%;
  }
}

@media only screen and (max-width: 850px) {
  .aboutme-text {
    width: 100%;
    height: 80%;
  }
}

@media only screen and (max-width: 850px) {
  .aboutme-right {
    width: 70%;
    height: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .aboutme-left {
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.aboutme-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 1200px) {
  .aboutme-text {
    font-size: 13px;
    width: 100%;
    height: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 850px) {
  .aboutme-text {
    font-size: 14px;
    margin-top: 5%;
    width: 100%;
    height: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .aboutme-text {
    font-size: 13px;
  }
}

@media only screen and (max-width: 620px) {
  .aboutme-text {
    font-size: 11.8px;
  }
}

@media only screen and (max-width: 450px) {
  .aboutme-text {
    font-size: 10.5px;
  }
}

.aboutme-myPhoto {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

@media only screen and (max-width: 850px) {
  .aboutme-myPhoto {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .aboutme-myPhoto {
    width: 130px;
    height: 130px;
  }
}

@media only screen and (max-width: 620px) {
  .aboutme-myPhoto {
    width: 100px;
    height: 100px;
  }
}

.aboutme-school {
  height: 70%;
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .aboutme-school {
    text-align: right;
    width: 90%;
  }
}

.aboutme-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media only screen and (max-width: 850px) {
  .aboutme-photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: unset;
            flex-flow: unset;
  }
}

.name {
  font-size: 20px;
  font-weight: bold;
}

.school {
  font-size: 18px;
}

.stack {
  margin-top: 10px;
  font-size: 15px;
}

@media only screen and (max-width: 850px) {
  .name, .stack, .school {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 90%;
    height: 33.33%;
    font-size: 16px;
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  .name, .stack, .school {
    font-size: 14.5px;
  }
}

@media only screen and (max-width: 620px) {
  .name, .stack, .school {
    font-size: 13px;
  }
}

@media only screen and (max-width: 450px) {
  .name, .stack, .school {
    font-size: 11px;
  }
}

.aboutme-mainInfo {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-family: 'Noto Sans', sans-serif;
}

@media only screen and (max-width: 850px) {
  .aboutme-mainInfo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.aboutme-info {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 850px) {
  .aboutme-info {
    width: 90%;
    height: 20%;
    text-align: right;
  }
}

.socials {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 15px;
}

@media only screen and (max-width: 1200px) {
  .socials {
    margin: 0;
  }
}

@media only screen and (max-width: 850px) {
  .socials {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 90%;
  }
}

.fa-github, .fa-linkedin, .fa-facebook {
  font-size: 30px;
  color: #0f9d58;
}

@media only screen and (max-width: 850px) {
  .fa-github, .fa-linkedin, .fa-facebook {
    font-size: 25px;
  }
}

@media only screen and (max-width: 620px) {
  .fa-github, .fa-linkedin, .fa-facebook {
    font-size: 21px;
  }
}

.fa-linkedin, .fa-facebook {
  margin-left: 40px;
}

.myAbilities {
  width: 100%;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../bg4.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

@media only screen and (max-width: 850px) {
  .myAbilities {
    height: 2000px;
  }
}

@media only screen and (max-width: 620px) {
  .myAbilities {
    height: 1300px;
  }
}

.myAbilities::before {
  content: '';
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
  background-color: white;
  top: -1.8%;
}

@media only screen and (max-width: 850px) {
  .myAbilities::before {
    top: -1.1%;
  }
}

@media only screen and (max-width: 620px) {
  .myAbilities::before {
    top: -2%;
  }
}

.myAbilities-container {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media only screen and (max-width: 850px) {
  .myAbilities-container {
    width: 100%;
    height: 100%;
  }
}

.myAbilities-first {
  width: 100%;
  height: 53.32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 850px) {
  .myAbilities-first {
    height: 55.82%;
  }
}

.myAbilities-second {
  width: 100%;
  height: 26.66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 850px) {
  .myAbilities-second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: 29.16%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.myAbilities-first {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.myAbilities-firstSection, .myAbilities-secondSection {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 850px) {
  .myAbilities-firstSection, .myAbilities-secondSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.myAbilities-title {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 45px;
  color: white;
  text-shadow: 1px 2px 2px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width: 850px) {
  .myAbilities-title {
    font-size: 38px;
    height: 7.5%;
  }
}

@media only screen and (max-width: 620px) {
  .myAbilities-title {
    font-size: 25px;
  }
}

.myAbilities-element {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media only screen and (max-width: 850px) {
  .myAbilities-element {
    width: 40%;
    height: 25%;
    margin-top: 20px;
    border-bottom: 1px solid;
    border-bottom-color: #0f9d58;
  }
}

.myAbilities-photo {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 850px) {
  .myAbilities-photo {
    height: 70%;
  }
}

.myAbilities-desc {
  width: 100%;
  height: 20%;
  color: white;
  text-shadow: 1px 2px 2px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
}

@media only screen and (max-width: 850px) {
  .myAbilities-desc {
    font-size: 19px;
    height: 30%;
  }
}

@media only screen and (max-width: 620px) {
  .myAbilities-desc {
    font-size: 16px;
  }
}

.fa-html5, .fa-css3-alt, .fa-js-square, .fa-sass, .fa-php, .fa-wordpress-simple, .fa-laravel {
  font-size: 144px;
  color: #0f9d58;
}

@media only screen and (max-width: 850px) {
  .fa-html5, .fa-css3-alt, .fa-js-square, .fa-sass, .fa-php, .fa-wordpress-simple, .fa-laravel {
    font-size: 70px;
  }
}

@media only screen and (max-width: 620px) {
  .fa-html5, .fa-css3-alt, .fa-js-square, .fa-sass, .fa-php, .fa-wordpress-simple, .fa-laravel {
    font-size: 45px;
  }
}

.jqueryIcon, .sqlIcon {
  width: 50%;
  height: 75%;
}

@media only screen and (max-width: 850px) {
  .jqueryIcon, .sqlIcon {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 620px) {
  .jqueryIcon, .sqlIcon {
    width: 50px;
    height: 50px;
  }
}

.prestaShopIcon, .pmyIcon {
  width: 150px;
  height: 150px;
}

@media only screen and (max-width: 620px) {
  .prestaShopIcon, .pmyIcon {
    width: 90px;
    height: 90px;
  }
}

.myProjects {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 7;
}

@media only screen and (max-width: 850px) {
  .myProjects {
    height: 1400px;
  }
}

@media only screen and (max-width: 620px) {
  .myProjects {
    height: 850px;
  }
}

.myProjects::before {
  content: '';
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
  background-color: white;
  top: -3%;
  z-index: 5;
}

@media only screen and (max-width: 850px) {
  .myProjects::before {
    top: -1%;
  }
}

@media only screen and (max-width: 620px) {
  .myProjects::before {
    top: -.55%;
  }
}

.myProjects-title {
  width: 40%;
  height: 80px;
  font-size: 60px;
  margin-top: 20px;
  color: #0f9d58;
  border-bottom: 2px solid #0f9d58;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  z-index: 10;
}

@media only screen and (max-width: 1200px) {
  .myProjects-title {
    width: 80%;
  }
}

@media only screen and (max-width: 850px) {
  .myProjects-title {
    font-size: 45px;
    width: 80%;
    border-bottom: none;
  }
}

@media only screen and (max-width: 620px) {
  .myProjects-title {
    font-size: 30px;
  }
}

.myProjects-container {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 850px) {
  .myProjects-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    height: 100%;
  }
}

.myProjects-element {
  width: 33.33%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-bottom: 2px solid #0f9d58;
}

@media only screen and (max-width: 850px) {
  .myProjects-element {
    width: 100%;
    height: 33.33%;
  }
}

.myProjects-element-title {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: bold;
}

.myProjects-element-img {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myProjects-element-desc {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0f9d58;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.projectIMG, .projectIMG2, .projectIMG3 {
  border-radius: 3px;
  width: 80%;
  height: 100%;
}

.contact {
  width: 100%;
  height: 350px;
  background-image: url("../contact.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 850px) {
  .contact {
    height: 380px;
  }
}

.contact::before {
  content: '';
  width: 35px;
  height: 35px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  position: absolute;
  background-color: white;
  top: -6.7%;
  z-index: 5;
}

@media only screen and (max-width: 850px) {
  .contact::before {
    top: -6%;
  }
}

.contact-container {
  width: 90%;
  height: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 850px) {
  .contact-container {
    width: 100%;
    height: 100%;
  }
}

.contact-title {
  width: 95%;
  height: 10%;
  font-size: 45px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-shadow: 1px 2px 2px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width: 850px) {
  .contact-title {
    font-size: 38px;
  }
}

.contact-email, .contact-github, .contact-linkedin, .contact-facebook {
  width: 95%;
  height: 22.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 850px) {
  .contact-email, .contact-github, .contact-linkedin, .contact-facebook {
    height: 20%;
    border-bottom: 2px solid white;
    width: 40%;
  }
}

.myProjects-link {
  color: #0f9d58;
  text-decoration: none;
}

.contact-link {
  color: #0f9d58;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-decoration: none;
}

@media only screen and (max-width: 850px) {
  .hide-line {
    border-bottom: none;
  }
}

.profile-link {
  text-decoration: none;
}

.change {
  margin-left: 0;
  margin-right: 5px;
  color: white;
}
/*# sourceMappingURL=style.css.map */