@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

@mixin flexAJ{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin pc-1200 {
    @media only screen and (max-width : 1200px) {
        @content;
    }
}

@mixin phone-850 {
    @media only screen and (max-width : 850px) {
            @content;
        }
}

@mixin phone-768 {
    @media only screen and (max-width : 768px) {
            @content;
        }
}

@mixin phone-620 {
    @media only screen and (max-width : 620px) {
        @content;
    }
}

@mixin phone-370 {
    @media only screen and (max-width : 370px) {
        @content;
    }
}

@mixin phone-320 {
    @media only screen and (max-width : 320px) {
        @content;
    }
}

body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    @include flexAJ();
    flex-flow: column;
}

.header{
    width: 100%;
    background-image: url('../bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.nav{
    width: 100%;
    height: 15%;
    display: flex;
    position: fixed;
    background-color: none;
    transition: .5s;
    z-index: 5;
    @include phone-850(){
    }
}

.logo{
    width: 10%;
    height: 95%;
    display: flex;
    align-items: center;
    @include phone-850(){
        width: 40%;
    }
}

.fa-th-large, .fa-th{
    font-size: 90px;
    color: #0f9d58;
    margin-left: 10px;
    text-shadow: 0px 0px 3px black;
    transition: font-size 200ms ease-in-out;
    @include phone-850(){
        font-size: 58px;
    }
}

.logo-small{
    font-size: 50px;
    @include phone-850(){
        font-size: 30px;
    }
}

.nav-links{
    @include flexAJ();
    width: 85%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include phone-850(){
        background-color: rgba(#0f9d58, 0.9);
        top: 15%;
        display: none;
        position: fixed;
        flex-flow: column;
        width: 100%;
        height: 150px;
        z-index: 5;
        transition: top 300ms linear;
    }
}

.nav-links-scroll{
    @include phone-850(){
        top: 7.5%;
    }
}

.nav-link{
    @include flexAJ();
    width: 25%;
    @include phone-850(){
        width: 100%;
        height: 37.5px;
        @include flexAJ();
    }
}

.nav-link a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    transition: font-size 50ms ease-in-out;
    @include phone-850(){
        color: white;
        font-size: 18px;
    }
}

.mobile-menu{
    display: none;
    @include phone-850(){
        width: 60%;
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
    }
}

.fa-bars{
    font-size: 40px;
    color: #0f9d58;
}

.aboutme-start{
    @include flexAJ();
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.aboutme-start-container{
    width: 70%;
    height: 70%;
    @include flexAJ();
    flex-flow: column;
    @include phone-850{
        width: 100%;
        height: 100%;
    }
}

.aboutme-place{
    width: 100%;
    font-size: 60px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 5px black;
    text-align: center;
    margin-bottom: 50px;
    @include phone-850(){
        font-size: 25px;
    }
}

.aboutme-name{
    width: 100%;
    font-size: 50px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 5px black;
    text-align: center;
    @include phone-850(){
        font-size: 25px;
    }
}

.aboutme-arrow{
    margin-top: 50px;
}

.fa-angle-down{
    font-size: 70px;
    color: white;
    text-shadow: 1px 1px 3px black;
    transition: .5s;
}

.fa-angle-down:hover{
    cursor: pointer;
    color: #0f9d58;
    transform: translate(0, 10px);
}

.aboutme{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: white;
    flex-flow: column;
    align-items: center;
    z-index: 2;
}

.aboutme::before{
    content: '';
    width: 30px;
    height: 35px;
    transform: rotate(135deg);
    background-color: white;
    position: relative;
    bottom: 15px;
    z-index: 1;
}

.aboutme-title{
    width: 100%;
    height: 80px;
    font-size: 60px;
    color: #0f9d58;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    @include phone-850(){
        font-size: 35px;
    }
}

.aboutme-container{
    width: 80%;
    height: 80%;
    @include flexAJ();
    @include phone-850(){
        width: 100%;
        height: 95%;
        flex-flow: column;
    }
}

.aboutme-photo, .aboutme-text{
    width: 50%;
    height: 90%;
}

.aboutme-photo{
    @include phone-850(){
        width: 100%;
        height: 35%;
    }
}
.aboutme-text{
    @include phone-850(){
        width: 100%;
        height: 80%;
    }
}

.aboutme-right{
    @include phone-850(){
        width: 70%;
        height: 100%;
    }
}

.aboutme-left{
    @include phone-850(){
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.aboutme-text{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    @include phone-850(){
        font-size: 10px;
        margin-top: 5%;
        width: 100%;
        height: 60%;
        justify-content: center;
    }
}

.aboutme-myPhoto{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    @include phone-850(){
        width: 90px;
        height: 90px;
    }
}

.aboutme-school{
    height: 70%;
    width: 100%;
    @include phone-850(){
        text-align: right;
        width: 90%;
    }
}

.aboutme-photo{
    display: flex;
    flex-flow: column;
    @include phone-850(){
        flex-flow: unset;
    }
}

.name{
    font-size: 20px;
    font-weight: bold;
}

.school{
    font-size: 18px;

}

.stack{
    margin-top: 10px;
    font-size: 15px;

}

.name, .stack, .school{
    @include phone-850{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 90%;
        height: 33.33%;
        font-size: 12px;
        margin: 0;
    }
}

.aboutme-mainInfo{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column;
    font-family: 'Noto Sans', sans-serif;
    @include phone-850(){
        align-items: flex-start;
    }
}

.aboutme-info{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    @include phone-850(){
        width: 90%;
        height: 20%;
        text-align: right;
    }
}

.socials{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
    @include phone-850(){
        align-items: center;
        justify-content: flex-end;
        width: 90%;
        margin: 0;
    }
}

.fa-github, .fa-linkedin, .fa-facebook{
    font-size: 30px;
    color: #0f9d58;
    @include phone-850(){
        font-size: 18px;
    }
}

.fa-linkedin, .fa-facebook{
    margin-left: 40px;
}