@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

@mixin flexAJ{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin pc-1200 {
    @media only screen and (max-width : 1200px) {
        @content;
    }
}

@mixin phone-850 {
    @media only screen and (max-width : 850px) {
            @content;
        }
}

@mixin phone-768 {
    @media only screen and (max-width : 768px) {
            @content;
        }
}

@mixin phone-620 {
    @media only screen and (max-width : 620px) {
        @content;
    }
}

@mixin phone-450 {
    @media only screen and (max-width : 450px) {
        @content;
    }
}

body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    @include flexAJ();
    flex-flow: column;
}

.header{
    width: 100%;
    background-image: url('../bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.nav{
    width: 100%;
    height: 15%;
    display: flex;
    position: fixed;
    background-color: none;
    transition: .5s;
    z-index: 100;
}

.logo{
    width: 10%;
    height: 95%;
    display: flex;
    align-items: center;
    @include phone-850(){
        width: 40%;
    }
}

.fa-th-large, .fa-th{
    font-size: 90px;
    color: #0f9d58;
    margin-left: 10px;
    text-shadow: 0px 0px 3px black;
    transition: font-size 200ms ease-in-out;
    @include phone-850(){
        font-size: 67px;
    }
    @include phone-768(){
        font-size: 60px;
    }
    @include phone-620(){
        font-size: 53px;
    }
}

.logo-small{
    font-size: 50px;
    @include pc-1200(){
        font-size: 40px;
    }
    @include phone-850(){
        font-size: 34px;
    }
    @include phone-768(){
        font-size: 32px;
    }
    @include phone-620(){
       font-size: 30px; 
    }
}

.nav-links{
    @include flexAJ();
    width: 85%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include phone-850(){
        background-color: rgba(#0f9d58, 0.9);
        top: 15%;
        display: none;
        position: fixed;
        flex-flow: column;
        width: 100%;
        height: 150px;
        z-index: 5;
        transition: top 300ms linear;
    }
}

.nav-links-scroll{
    @include phone-850(){
        top: 7.5%;
    }
}

.nav-link{
    @include flexAJ();
    width: 25%;
    @include phone-850(){
        width: 100%;
        height: 37.5px;
        @include flexAJ();
    }
}

.nav-link a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    transition: font-size 50ms ease-in-out;
    @include phone-850(){
        color: white;
        font-size: 18px;
    }
}

.mobile-menu{
    display: none;
    @include phone-850(){
        width: 60%;
        height: 95%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
    }
}

.fa-bars{
    font-size: 40px;
    color: #0f9d58;
}

.aboutme-start{
    @include flexAJ();
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.aboutme-start-container{
    width: 70%;
    height: 70%;
    @include flexAJ();
    flex-flow: column;
    @include phone-850{
        width: 100%;
        height: 100%;
    }
}

.aboutme-place{
    width: 100%;
    font-size: 60px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 5px black;
    text-align: center;
    margin-bottom: 50px;
    @include pc-1200(){
        font-size: 32px;
    }
    @include phone-850(){
        font-size: 28px;
    }
    @include phone-768(){
        font-size: 26px;
    }
    @include phone-620(){
        font-size: 21px;
    }
}

.aboutme-name{
    width: 100%;
    font-size: 50px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 5px black;
    text-align: center;
    @include pc-1200(){
        font-size: 32px;
    }
    @include phone-850(){
        font-size: 28px;
    }
    @include phone-768(){
        font-size: 26px;
    }
    @include phone-620(){
        font-size: 21px;
    }
}

.aboutme-arrow{
    margin-top: 50px;
}

.fa-angle-down{
    font-size: 70px;
    color: white;
    text-shadow: 1px 1px 3px black;
    transition: .5s;
}

.fa-angle-down:hover{
    cursor: pointer;
    color: #0f9d58;
    transform: translate(0, 10px);
}

.aboutme{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: white;
    flex-flow: column;
    align-items: center;
    z-index: 2;
}

.aboutme::before{
    content: '';
    width: 30px;
    height: 35px;
    transform: rotate(135deg);
    background-color: white;
    position: relative;
    bottom: 15px;
    z-index: 1;
}

.aboutme-title{
    width: 100%;
    height: 80px;
    font-size: 60px;
    color: #0f9d58;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    @include phone-850(){
        font-size: 45px;
    }
    @include phone-768(){
        font-size: 42px;
    }
    @include phone-620(){
        font-size: 30px; 
        height: 40px;  
    }
}

.aboutme-container{
    width: 80%;
    height: 80%;
    @include flexAJ();
    @include phone-850(){
        width: 100%;
        height: 95%;
        flex-flow: column;
    }
}

.aboutme-photo, .aboutme-text{
    width: 50%;
    height: 90%;
}

.aboutme-photo{
    @include phone-850(){
        width: 100%;
        height: 35%;
    }
}
.aboutme-text{
    @include phone-850(){
        width: 100%;
        height: 80%;
    }
}

.aboutme-right{
    @include phone-850(){
        width: 70%;
        height: 100%;
    }
}

.aboutme-left{
    @include phone-850(){
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.aboutme-text{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    @include pc-1200(){
        font-size: 13px;
        width: 100%;
        height: 70%;
        justify-content: center;
    }
    @include phone-850(){
        font-size: 14px;
        margin-top: 5%;
        width: 100%;
        height: 60%;
        justify-content: center;
    }
    @include phone-768(){
        font-size: 13px;
    }
    @include phone-620(){
        font-size: 11.8px;   
    }
    @include phone-450(){
        font-size: 10.5px;
    }
}

.aboutme-myPhoto{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    @include phone-850(){
        width: 150px;
        height: 150px;
    }
    @include phone-768(){
        width: 130px;
        height: 130px;
    }
    @include phone-620(){
        width: 100px;
        height: 100px;   
    }
}

.aboutme-school{
    height: 70%;
    width: 100%;
    @include phone-850(){
        text-align: right;
        width: 90%;
    }
}

.aboutme-photo{
    display: flex;
    flex-flow: column;
    @include phone-850(){
        flex-flow: unset;
    }
}

.name{
    font-size: 20px;
    font-weight: bold;
}

.school{
    font-size: 18px;

}

.stack{
    margin-top: 10px;
    font-size: 15px;

}

.name, .stack, .school{
    @include phone-850{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 90%;
        height: 33.33%;
        font-size: 16px;
        margin: 0;
    }
    @include phone-768(){
        font-size: 14.5px;
    }
    @include phone-620(){
        font-size: 13px;   
    }
    @include phone-450(){
        font-size: 11px;
    }
}

.aboutme-mainInfo{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column;
    font-family: 'Noto Sans', sans-serif;
    @include phone-850(){
        align-items: flex-start;
    }
}

.aboutme-info{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    @include phone-850(){
        width: 90%;
        height: 20%;
        text-align: right;
    }
}

.socials{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
    @include pc-1200(){
        margin: 0;
    }
    @include phone-850(){
        align-items: center;
        justify-content: flex-end;
        width: 90%;
    }
}

.fa-github, .fa-linkedin, .fa-facebook{
    font-size: 30px;
    color: #0f9d58;
    @include phone-850(){
        font-size: 25px;
    }
    @include phone-620(){
        font-size: 21px;   
    }
}

.fa-linkedin, .fa-facebook{
    margin-left: 40px;
}

.myAbilities{
    width: 100%;
    height: 1000px;
    @include flexAJ();
    background-image: url('../bg4.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, .5);
    position: relative;
    @include phone-850(){
        height: 2000px;
    }
    @include phone-620(){
        height: 1300px;     
    }
}

.myAbilities::before{
    content: '';
    width: 35px;
    height: 35px;
    transform: rotate(135deg);
    position: absolute;
    background-color: white;
    top: -1.8%;
    @include phone-850(){
        top: -1.1%;
    }
    @include phone-620(){
        top: -2%;
    }
}

.myAbilities-container{
    width: 90%;
    height: 90%;
    @include flexAJ();
    flex-flow: column;
    @include phone-850(){
        width: 100%;
        height: 100%;
    }
}

.myAbilities-first{
    width: 100%;
    height: 53.32%;
    display: flex;
    @include phone-850(){
        height: 55.82%;
    }
}

.myAbilities-second{
    width: 100%;
    height: 26.66%;
    display: flex;
    justify-content: center;
    @include phone-850(){
        flex-flow: column;
        height: 29.16%;
        align-items: center;
    }
}

.myAbilities-first{
    flex-flow: column;
}

.myAbilities-firstSection, .myAbilities-secondSection{
    width: 100%;
    height: 50%;
    display: flex;
    @include phone-850(){
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
}

.myAbilities-title{
    width: 100%;
    height: 10%;
    @include flexAJ();
    font-size: 45px;
    color: white;
    text-shadow: 1px 2px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @include phone-850(){
        font-size: 38px;
        height: 7.5%;
    }
    @include phone-620(){
        font-size: 25px;   
    }
}

.myAbilities-element{
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: column;
    @include phone-850(){
        width: 40%;
        height: 25%;
        margin-top: 20px;
        border-bottom: 1px solid;
        border-bottom-color: #0f9d58;
    }
}

.myAbilities-photo{
    width: 100%;
    height: 80%;
    @include flexAJ();
    @include phone-850(){
        height: 70%;
    }
}

.myAbilities-desc{
    width: 100%;
    height: 20%;
    color: white;
    text-shadow: 1px 2px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @include flexAJ();
    font-size: 25px;
    @include phone-850(){
        font-size: 19px;
        height: 30%;
    }
    @include phone-620(){
        font-size: 16px;   
    }
}

.fa-html5, .fa-css3-alt, .fa-js-square, .fa-sass, .fa-php, .fa-wordpress-simple, .fa-laravel{
    font-size: 144px;
    color: #0f9d58;
    @include phone-850(){
        font-size: 70px;
    }
    @include phone-620(){
        font-size: 45px;
    }
}

.jqueryIcon, .sqlIcon{
    width: 50%;
    height: 75%;
    @include phone-850(){
        width: 80px;
        height: 80px;
    }
    @include phone-620(){
        width: 50px;
        height: 50px;   
    }
}

.prestaShopIcon, .pmyIcon{
    width: 150px;
    height: 150px;
    @include phone-620(){
        width: 90px;
        height: 90px;   
    }
}

.myProjects{
    width: 100%;
    height: 500px;
    position: relative;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    z-index: 7;
    @include phone-850(){
        height: 1400px;
    }
    @include phone-620(){
        height: 850px; 
    }
}

.myProjects::before{
    content: '';
    width: 35px;
    height: 35px;
    transform: rotate(135deg);
    position: absolute;
    background-color: white;
    top: -3%;
    z-index: 5;
    @include phone-850(){
        top: -1%;
    }
    @include phone-620(){
       top: -.55%;  
    }
}

.myProjects-title{
    width: 40%;
    height: 80px;
    font-size: 60px;
    margin-top: 20px;
    color: #0f9d58;
    border-bottom: 2px solid #0f9d58;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    z-index: 10;
    @include pc-1200(){
        width: 80%;
    }
    @include phone-850(){
        font-size: 45px;
        width: 80%;
        border-bottom: none;
    }
    @include phone-620(){
        font-size: 30px;  
    }
}

.myProjects-container{
    width: 90%;
    height: 90%;
    @include flexAJ();
    @include phone-850(){
        flex-flow: column;
        width: 100%;
        height: 100%;
    }
}

.myProjects-element{
    width: 33.33%;
    height: 80%;
    @include flexAJ();
    flex-flow: column;
    border-bottom: 2px solid #0f9d58;
    @include phone-850(){
        width: 100%;
        height: 33.33%;
    }
}

.myProjects-element-title{
    width: 100%;
    height: 20%;
    @include flexAJ();
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
}

.myProjects-element-img{
    width: 100%;
    height: 60%;
    @include flexAJ();
}

.myProjects-element-desc{
    width: 100%;
    height: 20%;
    @include flexAJ();
    color: #0f9d58;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

.projectIMG, .projectIMG2, .projectIMG3{
    border-radius: 3px;
    width: 80%;
    height: 100%;
}

.contact{
    width: 100%;
    height: 350px;
    background-image: url('../contact.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    @include flexAJ();
    @include phone-850(){
        height: 380px;
    }
}

.contact::before{
    content: '';
    width: 35px;
    height: 35px;
    transform: rotate(135deg);
    position: absolute;
    background-color: white;
    top: -6.7%;
    z-index: 5;
    @include phone-850(){
        top: -6%;
    }
}

.contact-container{
    width: 90%;
    height: 90%;
    flex-flow: column;
    @include flexAJ;
    @include phone-850(){
        width: 100%;
        height: 100%;
    }
}

.contact-title{
    width: 95%;
    height: 10%;
    font-size: 45px;
    margin-top: 15px;
    @include flexAJ();
    color: white;
    text-shadow: 1px 2px 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @include phone-850(){
        font-size: 38px;
    }
}

.contact-email, .contact-github, .contact-linkedin, .contact-facebook{
    width: 95%;
    height: 22.5%;
    @include flexAJ();
    @include phone-850(){
        height: 20%;
        border-bottom: 2px solid white;
        width: 40%;
    }
}

.myProjects-link{
    color: #0f9d58;
    text-decoration: none;
}

.contact-link{
    color: #0f9d58;
    @include flexAJ();
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.hide-line{
    @include phone-850(){
        border-bottom: none;
    }
}

.profile-link{
    text-decoration: none;
}

.change{
    margin-left: 0;
    margin-right: 5px;
    color: white;
}